/* CSS Style for Portfolio Project */ 
@charset "utf-8";
/* play-regular - latin_cyrillic */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Play Regular'), local('Play-Regular'),
       url('../fonts/play-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/play-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/play-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/play-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/play-v9-latin_cyrillic-regular.svg#Play') format('svg'); /* Legacy iOS */
}

html {
}

body {
    background-color: hsl(0, 0%, 30%);
    font-family: Play, sans-serif;
}

header {
    background-color: black;
}

p {
    margin: 0px;
    padding: 5px 25px 25px 25px;
}

body > p {
    text-align: center;
    font-size: 1.1em;
}

address {
    font-style: normal;
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 
header-bar {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
*/

nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Play, sans-serif;
   }

nav a:link, nav:visited {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 30%, 0.4);
    color: hsla(225, 20%, 60%, 0.7) ;
}

nav a:hover, nav a:active {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsla(0, 0%, 30%, 0.7);
}

section.infopage h1 {
    margin: 0px;
    padding: 20px 0px 10px 20px;
    font-weight: normal;
    font-size: 3em;
   
}

section#info {
    background-color: hsl(0, 0%, 20%);
    color: hsla(0, 0%, 100%, 0.7);
}

section#info h1 {
    font-family:  Play, sans-serif;
    color: hsla(0, 0%, 100%, 0.7);    
}

dt {
    color: hsla(0, 0%, 100%, 0.7);
    font-weight: normal;
    font-size: 1em;
}
dd {
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}
